body {
  font-family: arial;
}

.header {
  color: #aaa;
  border-bottom: 1px solid #999;
}

.data-input {
  background-color: #eee;
}

div label {
  color: #333333;
}

.data-output div {
  background-image: linear-gradient(#eee, #fff);
}

.data-output div h2 {
  width: 30%;
  color: #333333;
  display: inline-block;
}

.footer {
  border-top: 1px solid #999;
}

.footer p {
  color: #aaa;
}
